* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --big-font-size: 32px;
    --medium-font-sixe: 28px;
    --small-font-size: 22px;
    --tiny-font-sixe: 18px;
    --bckg-color-black: #030303;
    --color-red: #710707;
    --color-font-gold: #9d8665;
    --link-hover-font-color: #9D8665;
    --link-click-font-color: #7E6C51;
    --font-family-roboto: "Roboto";
    --font-family-forum: "Forum";
}

section {
    margin-bottom: 75px;
}

h1 {
    font-family: var(--font-family-forum);
    font-size: 80px;
    letter-spacing: 5px;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
}

.h2-gold {
    font-family: var(--font-family-forum);
    font-size: 80px;
    letter-spacing: 5px;
    color: var(--link-hover-font-color);
    font-weight: 400;
}
.h2 {
    font-family: var(--font-family-forum);
    font-size: 80px;
    letter-spacing: 5px;
    color: #FFFFFF;
    font-weight: 400;
}

.h3 {
    font-family: var(--font-family-forum);
    font-size: var(--big-font-size);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 10px;
}
h4 {
    font-family: var(--font-family-roboto);
    font-weight: 200;
    font-size: var(--small-font-size);
    letter-spacing: 0%;
    color: #000000;
}

.link:hover {
    color: var(--link-hover-font-color);
}

.link:active {
    color: var(--link-click-font-color);
}

.button-large {
    background-color: var(--color-red);
    padding: 24px 64px;
    color: #FFFFFF;
    font-size: var(--small-font-size);
    font-family: var(--font-family-roboto);
    letter-spacing: 5%;
    border-radius: 10px;
    border: none;
} 

.button-large:hover {
    cursor: pointer;
}

.button-small {
    background-color: var(--bckg-color-black);
    padding-left: 38px;
    padding-right: 38px;
    font-size: var(--small-font-size);
    font-family: var(--font-family-roboto);
    letter-spacing: 5%;
}

.button-small:hover{
    cursor: pointer;
}

header {
    background-color: var(--bckg-color-black);
    padding: 60px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.black-Background {
    background-color: black;
}





#HeaderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 55px;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    font-family: "Roboto";
    font-size: 22px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

#WelcomeToTheLouvre {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.first-section-content-block {
    max-width: 600px;
    position: absolute;
    top: 150px;
    left: 0;
    letter-spacing: 5px;
    z-index: 6;
}

.paragraph-first-section {
    font-family: var(--font-family-roboto);
    font-size: var(--medium-font-sixe);
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 75px;
}

.first-section-image-block {
    position: relative;
}

.background-gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.slaider{
    position: absolute;
    left: 400px;
    bottom: 0px;
    transition: -50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bckg-color-black);
    max-width: 610px;
}

.slaider-counter{
    font-family: var(--font-family-roboto);
    font-weight: 400;
    font-size: var(--small-font-size);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 45px 35px 40px 64px;
}

.welcome-to-the-louvre-sqare-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bckg-color-black);
}

.sqares {
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    margin: 25px;
}

.sqares:hover {
    cursor: pointer;
}

.sqares:active {
     background-color: var(--color-font-gold)
}

.slaider-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 56px 42px 56px 35px;
}

.slaider-arrow {
    margin-right: 20px;
    fill: #FFFFFF;
}
.slaider-arrow:hover{
    cursor: pointer;
    fill: var(--link-hover-font-color);
}

.slaider-arrow-second{
    rotate: 180deg;
}

.slaider-arrow-second:hover{
    fill: var(--color-font-gold);
    cursor: pointer;
}

.virtual-tour-card-text {
    font-family: var(--font-family-roboto);
    font-size: var(--tiny-font-sixe);
    font-weight: 200;
    letter-spacing: 0%;
    margin-top: 10px;
}

.virtual-tour{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.virtual-tour-cards{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-top: 100px;
}

.picture-explore {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1440px;
}

.picture-explore-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 60px;
}

.picture-explore-text h2 {
    margin-bottom: 80px;
}

.picture-explore-test-paragraph {
    font-family: var(--font-family-roboto);
    font-size: var(--tiny-font-sixe);
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 300;
}

.video-journey{
    
    max-width: 1440px;
}

.video-journey-content{
    display: flex;
    flex-direction: column;
}

.video-journey-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video-journey-text p{
    font-family: var(--font-family-roboto);
    font-weight: 300;
    font-size: var(--small-font-size);
    letter-spacing: 0;
    vertical-align: middle;
}

.video-journey-main-video {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  margin-bottom: 40px;
}

.video-journey-main-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 75px;
}

.video-journey-sub-videos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#middle-video{
    margin: 0 42px;
}

.video-journey-slaider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.video-journey-slaider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 200px;
}

.left-double-arrow {
    fill: black;
}

.video-journey-slaider-points {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.video-journey-slaider-point {
    width: 12px;
    height: 12px;
    background-color: #999999;
    border-radius: 50%;
    margin: 0 20px;
}

.video-journey-slaider-point:hover{
    cursor: pointer;
    background-color: var(--bckg-color-black);
}


